* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #023047;
}

.container {
    width: 70%;
    max-width: 1152px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    width: 90%;
    font-weight: 900;
}

h5 {
    font-weight: 900;
}

p {
    font-size: 1.2rem;
    font-weight: 500;
}

img {
    width: 100%;
}

.news_head i {
    font-size: 1.5rem;
}

.noNews {
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}